<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            background-color: #de844b;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>CHÀO MỪNG ĐẾN VỚI SHOPX</h1>
    <h2>Đăng nhập</h2>
    <hr/>




    <div class="container w-25">
    <form action="#" th:action="@{/authenticateTheUser}" method="POST">
        <!-- Email input -->
        <div th:if="${param.error}">
            <span style="color:red">Đăng nhập không thành công! Vui lòng kiểm tra lại</span>
        </div>
        <div class="form-outline mb-4">
            <input type="text" name="username" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Tên tài khoản</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Mật khẩu</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Ghi nhớ đăng nhập </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Quên mật khẩu?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a th:href="@{/register/showRegisterForm}">Đăng ký</a></p>

        </div>
    </form>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>